@import "tailwindcss";

.loginGradientBtn {
  background-image: linear-gradient(to right, #35327a, #71829c);
}

.loginGradientBtn:hover {
  background-image: linear-gradient(to right, #71829c, #454461);
}
.ck-editor__editable_inline {
  min-height: 200px;
  max-width: auto;
}